body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header {
    background-color: #0C2340; 
    height: 15vh; 
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding-left: 20px; 
}

.logo {
    width: 300px; 
    height: auto;
    margin-right: 20px;
}

h1 {
    color: white;
    font-size: 6em; 
    margin: 0;
}

nav {
    background-color: #005083; 
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 60px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em; 
}

nav ul li a:hover {
    text-decoration: underline;
}

.content-container {
    display: flex; 
    padding: 20px;
    flex: 1; 
    max-width: 1200px; 
    margin: 10px auto; 
}

.main-content {
    flex: 2; 
    margin-right: 20px; 
}

.main-content h2, .main-content h3 {
    font-size: 1.5em; 
    color: #0C2340;
    margin-bottom: 10px; 
}

.article-image {
    float: left; 
    width: 300px; 
    height: auto;
    margin: 0 20px 10px 0; 
}

.article-text {
    font-size: 1em; 
    line-height: 1.4;
    color: #333;
    max-width: 500px; 
}

.fun-facts {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.fact-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
    width: 100%; 
}

.fact-box:nth-child(1), .fact-box:nth-child(3) {
    background-color: #d8e7f3; 
    padding: 10px;
    border-radius: 8px;
}

.fact-image {
    width: 215px; 
    height: auto;
    margin-right: 20px; 
}

.fact-text {
    font-size: 1.2em; 
    line-height: 1.4;
    color: #333;
    max-width: calc(100% - 170px); 
}

footer {
    background-color: #0C2340; 
    color: white;
    text-align: center;
    padding: 30px 0;
    width: 100%;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 40px; 
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

footer ul li a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    h1 {
        font-size: 3em; 
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0; 
    }

    .content-container {
        flex-direction: column; 
    }

    .main-content {
        margin-right: 0; 
    }

    .article-image {
        width: 100%;
        margin: 0 0 10px 0; 
        float: none; 
    }

    .article-text {
        max-width: 100%; 
    }

    .fun-facts {
        align-items: center; 
        padding-right: 0;
    }

    .fact-box {
        flex-direction: column;
        align-items: center;
    }

    .fact-text {
        margin-right: 0; 
        margin-bottom: 10px; 
        max-width: 100%;
    }

    .fact-image {
        width: 80%; 
    }
}

@media (max-width: 480px) {
    .logo {
        width: 150px; 
    }

    h1 {
        font-size: 2em; 
    }

    nav ul li {
        margin: 5px 0; 
    }

    .main-content {
        padding: 5px;
        margin: 10px 10px; 
    }

    footer ul li {
        margin: 10px 0; 
    }
}
